/* These styles apply to the entire page */
body {
    margin: 0; /* Remove default browser margin */
    font-family: Arial; /* Clean readable font */
    background-color: #f4f6f8; /* Light background */
    color: #333; /* Default text color */
}

/* Header styling */
/* Styles applied directly to HTML tags */

/* Main header */
header {
    background-color: #1e3a8a; /* Dark blue */
    color: white;/* White text */
    padding: 20px;/* Internal spacing */
    text-align: center;/* Center the text */
}

/* Section subtitles */
h2 {
    color: #1e3a8a;/* Dark blue for subtitles */
}

/* Paragraph readability */
p {
    line-height: 1.6;/* Creates more line spacing */
}

/* Footer */
footer {
    background-color: #111827;/* Dark background */
    padding: 15px;
    text-align: center;/* Center content */
}

/* Old Flexbox removed and now using Bootstrap */ /*One commit*/

.content-box {
    background-color: white; /* White background */
    padding: 15px; /* Internal spacing */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Soft shadow */
}

/* Highlighted sections */
.highlight {
    background-color: #e0f2fe; /* Light blue background */
    border-left: 5px solid #0284c7;/* Blue bar on the left */
}

/* Images inside special sections */
#equipment-section img,
#fun_facts img {
    display: block;
    margin: 10px auto 0;
    border-radius: 6px;
}

/* Responsive improvements */
@media (max-width: 768px) {

    /* Reduce header padding for better spacing on mobile */
    header {
        padding: 15px;
    }
    
     /* Improve readability on small devices */ 
    body {
        font-size: 16px;
    }

    /* Add spacing between sections */
    .content-box {
        margin-bottom: 15px;
    }
}
