body {
    margin: 0; 
    font-family: Arial; 
    background-color: #f4f6f8; 
    color: #333; 
}

header {
    background-color: #1e3a8a; 
    color: white; 
    padding: 20px; 
    text-align: center; 
}

h2 {
    color: #1e3a8a;
}

p {
    line-height: 1.6; 
}

footer {
    background-color: #111827; 
    padding: 15px;
    text-align: center;
}


footer a {
    color: #93c5fd;
    text-decoration: none; 
    font-weight: bold; 
}